In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

In [2]:
import sqlite3
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [3]:
Base = declarative_base()

In [21]:
measurements = pd.read_csv('clean_measurements.csv')
stations = pd.read_csv('clean_stations.csv')
measurements = measurements.rename(columns={'Unnamed: 0':'ID'})
stations = stations.rename(columns={'Unnamed: 0':'ID'})
stations.head()

,ID,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [24]:
Base = declarative_base()
class Measurements(Base):
    __tablename__ = 'measurements'
    ID = Column(Integer, primary_key= True)
    station = Column(String(200))
    date = Column(String(200))
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Stations(Base):
    __tablename__ = 'stations'
    ID = Column(Integer, primary_key=True)
    station = Column(String(200))
    name = Column(String(200))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [26]:
engine = create_engine('sqlite:///hawaii.sqlite')
connection = engine.connect()

In [27]:
#metadata
Base.metadata.create_all(engine)

In [28]:
session = Session(bind=engine)
session.commit()

In [31]:
measurements.to_sql("measurements",connection,if_exists="append", index=False)
stations.to_sql("stations",connection,if_exists="append", index=False)