In [1]:
import pandas as pd
import numpy as np

In [16]:
measurements = pd.read_csv('hawaii_measurements.csv')
stations = pd.read_csv('hawaii_stations.csv')
measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [14]:
measurements.isnull().any().any()

True

In [12]:
station_col = sum(pd.isnull(measurements['station']))
date_col = sum(pd.isnull(measurements['date']))
prcp_col = sum(pd.isnull(measurements['prcp']))
tobs_col = sum(pd.isnull(measurements['tobs']))

In [20]:
#using interpolate method to fill in NaN data
new_measurements = measurements.interpolate()
new_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.03    73

In [21]:
new_measurements.to_csv('clean_measurements.csv')

In [13]:
stations.isnull().any().any()

False

In [22]:
stations.to_csv('clean_stations.csv')